[project]
name = "mkdocs-zettelkasten"
version = "0.3.0"
description = "Add Zettelkasten features to MkDocs"
authors = [
    {name = "Tomáš Bouška",email = "tomas@buvis.net"}
]
license = {text = "MIT"}
readme = "README.md"
requires-python = ">=3.9"
dependencies = [
    "mkdocs (==1.6.1)",
    "jinja2 (==3.1.6)",
    "gitpython (==3.1.44)",
    "pymdown-extensions (==10.14.3)",
    "PyYAML (==6.0.2)",
    "tzlocal (==5.3.1)",
]

[project.entry-points."mkdocs.plugins"]
zettelkasten = "mkdocs_zettelkasten.plugin.plugin:ZettelkastenPlugin"

[project.entry-points."mkdocs.themes"]
zettelkasten-solarized-light = "mkdocs_zettelkasten.themes.solarized_light"

[build-system]
requires = ["poetry-core==2.1.2"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.group.dev.dependencies]
pytest = "^8.3.5"

[tool.ruff.lint]
select = ["ALL"]
ignore = ["D", "INP", "E501", "T201", "COM812"]
unfixable = ["B"]

[tool.ruff.lint.per-file-ignores]
"tests/*.py" = ["S101"]
"**/test_*.py" = ["S101"]
